/* Global Stuff */
/* Page Styling */
html {
    background-color: grey;
    color: yellow;
    font-size: 16px;
    text-indent: 10px;
}
/* General Link Styling */
a:link {
    color: orange;
}
a:visited{
    color: orange;
}
a:hover {
    color: white;
}
a:active {
    color: yellow;
}